In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
books = pd.read_csv('BX-Books.csv', sep=';', error_bad_lines=False, encoding="latin-1")
books.columns = ['ISBN', 'bookTitle', 'bookAuthor', 'yearOfPublication', 'publisher', 'imageUrlS', 'imageUrlM', 'imageUrlL']
users = pd.read_csv('BX-Users.csv', sep=';', error_bad_lines=False, encoding="latin-1")
users.columns = ['userID', 'Location', 'Age']
ratings = pd.read_csv('BX-Book-Ratings.csv', sep=';', error_bad_lines=False, encoding="latin-1")

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [26]:
books.head()

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher,imageUrlS,imageUrlM,imageUrlL
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [27]:
users.head()

   userID                            Location   Age
0       1                  nyc, new york, usa   NaN
1       2           stockton, california, usa  18.0
2       3     moscow, yukon territory, russia   NaN
3       4           porto, v.n.gaia, portugal  17.0
4       5  farnborough, hants, united kingdom   NaN

In [28]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [ ]:
book_rating=pd.merge(books,ratings,on="ISBN")

In [ ]:
book_rating.head()

In [ ]:
book_rating['userID']=book_rating['User-ID']
book_rating.drop('User-ID',axis="columns",inplace=True)
book_rating.head()

In [ ]:
df=pd.merge(book_rating,users,on="userID")
df.head()

In [ ]:
df=df[['ISBN','bookTitle','Book-Rating','userID']]
df.head()

In [ ]:
df.shape

In [ ]:
df.groupby('bookTitle')['Book-Rating'].mean().head()

In [ ]:
df.groupby('ISBN')['Book-Rating'].count().head()

In [ ]:
book_rating=pd.DataFrame(df.groupby('ISBN')['Book-Rating'].mean())

In [ ]:
book_rating['num of rating']=pd.DataFrame(df.groupby('ISBN')['Book-Rating'].count())
book_rating.head()

In [ ]:
counts1 = df['userID'].value_counts()
df = df[df['userID'].isin(counts1[counts1 >= 400].index)]
counts = df['Book-Rating'].value_counts()
df = df[df['Book-Rating'].isin(counts[counts >= 200].index)]

In [ ]:
df.shape

In [ ]:
bookmat=df.pivot_table(index="userID",columns='ISBN',values='Book-Rating')

In [ ]:
bookmat.head()

In [ ]:
bookrating=bookmat['0001047868']
bookrating.head()

In [ ]:
similar_to_bookrating=bookmat.corrwith(bookrating)

In [ ]:
corr_bookrating=pd.DataFrame(similar_to_bookrating,columns=["correlation"])
corr_bookrating.dropna(inplace=True)

In [ ]:
corr_bookrating.head()

In [ ]:
corr_bookrating.sort_values('correlation',ascending=False).head()

In [ ]:
corr_summary = corr_bookrating.join(book_rating['num of rating'])
corr_summary[corr_summary['num of rating']>=300].sort_values('correlation', ascending=False).head(10)